# Our top level values.yaml is what customers start with in new deployments,
# but helm needs it to live at chart/retool/values.yaml. Eventually we should
# shrink our values.yaml to only the required values and point customers at 
# chart/retool/values.yaml as the reference for all configurable values. Until
# then, we have both copies and should make sure they don't diverge.

name: Ensure values.yaml files match

on:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Ensure both values.yaml are identical
        run: echo -e "\n\nOur values.yaml and chart/retool/values.yaml must be kept in sync\n\n" && diff -U3 values.yaml charts/retool/values.yaml
